{% extends 'base-chatbot.html' %}

{% block content %}
  <h1 style="font-size: 4rem;" class="pt-30 m-0">Chatbot</h1>
  
  <div class="p-20 centered-content" style="gap: 20px; flex-direction: row;">        
    <a href="chatbot-delete" class="button red p-8">
      <img src="https://www.svgrepo.com/show/502614/delete.svg" style="width: 25px">
    </a>
    <a href="chatbot-edit" class="button white p-8">
      <img style="width: 25px" src="https://www.svgrepo.com/show/513824/edit.svg">
    </a>
  </div>
  
  <div class="chat-container" style="display: flex; flex-direction: column; gap: 10px; display: flex; max-height: 380px; overflow: scroll;">

    {% for chat in chats %}
      {% if chat.role == 'user' %}
        <div class="msg user" >
          {{ chat.content }}
        </div>
      {% else %}
        <div class="msg chatbot">
          {{ chat.content }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
<div id="prompt-container" class="dark-purple w-full prompt-container">
  <form id="prompt-form" class="w-80 prompt" method="POST" action="{% url 'chatbot' userchat.id %}">
    {%csrf_token%}
    <label for="prompt" class="sr-only">Prompt</label>
    <input id="prompt" name="prompt" type="text" class="button" placeholder="Escribe al chatbot...">
    <button id="submitbutton" style="aspect-ratio: 1/1;" class="button p-0">
      <img src="https://www.svgrepo.com/show/533310/send-alt-1.svg">
    </button>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script>
  cc = document.getElementsByClassName("chat-container")[0];
  cc.scrollTop = cc.scrollHeight;

  open_sn = document.getElementById("open-side-nav");
  close_sn = document.getElementById("close-side-nav");
  sn = document.getElementById("side-nav");
  prompt_cont = document.getElementById("prompt-container");

  function toggleNav() {
    prompt_cont.classList.toggle("disp");
    open_sn.classList.toggle("disp");
    close_sn.classList.toggle("disp");
    sn.classList.toggle("show");
  }

  const form = document.getElementById("prompt-form");
  
  $("#submitbutton").on("click", function (event) {
      event.preventDefault();
      let btn = $(this);

      btn.prop("disabled", true).addClass("disp");
      
      form.submit();
  });
</script>
{% endblock %}